.contact-section {
  background-color: #ade8f4;
  padding: 4rem 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-title {
  font-size: 2.5rem;
  color: #0077b6;
  margin-bottom: 2rem;
  text-align: center;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}



.contact-icons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
}

.contact-icon {
  color: #0077b6;
  font-size: 2rem;
  transition: color 0.3s, transform 0.3s;
}

.contact-icon:hover {
  color: #005f87;
  transform: scale(1.2);
}


@media screen and (max-width: 768px) {
  .contact-container {
      flex-direction: column;
      align-items: center;
  }
}

